/* titre en Impact */
/* texte en DejaVu Sans */
/* texte "en plus" en Verdana ? */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top right, #000, #32006e);
}
footer {
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-top: 2rem;
  padding: 1rem 0 0 1rem;
  background-color: black;
}
a {
  text-decoration: none;
}
a:visited {
  color: #070761;
}
h1 {
  font-family: Impact, Haettenschweiler, Verdana, sans-serif;
  text-align-last: center;
  font-size: 2.5em;
  letter-spacing: .15rem;
}
button {
  background-color: #070761;
  border: 1px solid #070761;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1em;
  cursor: pointer;
  transition: 1s ease-in-out;
}
button:hover {
  background-color: #fff;
  color: #070761;
  transition: 1s ease-in-out;
}
#app {
  font-family: DejaVu Sans, Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-align: center;
}
.rule {
  font-size: 1em;
  margin: 3rem 2rem 0 2rem;
  text-align: center;
}
.form {
  color: #070761;
  font-size: 1.1em;
  background-color: #fff;
  width: 60%;
  margin: 6rem auto 3rem auto;
  padding: 3rem 2rem;
  border-radius: 10px;
  text-align: right;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.input input {
  padding: 0.5rem 0 0.5rem 0.3rem;
  color: #070761;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid grey;
  transition: 0s ease-in;
}
.input input:focus {
  outline: none;
  border-bottom: 2px solid #070761;
  color: #070761;
  transition: 0s ease-in;
}
.input ::placeholder {
  font-style: italic;
  font-size: 0.9em;
  color: rgba(2, 0, 104, 0.7)
}
.input_image {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.input_image label {
  background-color: #fff;
  border-bottom: solid 1px #070761;
  border-left: solid 1px #070761;
  margin-bottom: 2rem;
  color: #070761;
  padding: 1rem;
  cursor: pointer;
  transition: 0s ease-in;
}
.input_image input::-webkit-file-upload-button {
  display: none;
}
.alert {
  color: #070761;
  font-size: 0.8em;
  background-color: rgba(255, 0, 0, 0.4);
  text-align: left;
  margin-top: 1em;
  padding: 0.3rem;
}
.link {
  text-align: left;
  margin: 1rem 0;
}
#movies_explication {
  margin: 3rem 0;
  padding: 0 1rem;
}
#movies_explication p {
  margin: 1rem 0;
  padding: 0 1rem;
}
#user {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.user_image {
  width: 120px;
  height: 120px;
  border: solid 1px #fff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container_icons {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
}
#container_icons img {
  margin: 0 0 0.4rem 0;
}
.icons {
  cursor: pointer;
  width: 25px;
}
.table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}
.table td{
  padding: 0.7em;
  border: solid 1px #fff;
}

@media screen and (min-width: 1200px) {
  a:visited {
    color: #fff;
  }
  button {
    background-color: #fff;
    border: 1px solid #fff;
    color: #0c0c44;
  }
  button:hover {
    background-color: #0c0c44;
    color: #fff;
  }
  .form {
    color: #fff;
    background-color: #0c0c44;
    border: 1px solid #fff;
  }
  .input input {
    background-color: #0c0c44;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  .input input:focus {
    border-bottom: 2px solid #fff;
    color: #fff;
  }
  .input ::placeholder {
    color: rgba(255, 255, 255, 0.8)
  }
  .input_image label {
    background-color: #0c0c44;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    color: #fff;
  }
  .input_image label:hover {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  .alert {
    color: #fff;
  }
}